{{ $themeCss := resources.Get "css/theme.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $themeCss.RelPermalink }}">
{{ $cssFiles := slice
  (resources.Get "css/header.css")
  (resources.Get "css/hero.css")
  (resources.Get "css/rail.css")
  (resources.Get "css/ticker.css")
  (resources.Get "css/cards.css")
  (resources.Get "css/footer.css")
  (resources.Get "css/custom.css")
  (resources.Get "css/responsive.css")
}}
{{ $bundledCss := $cssFiles | resources.Concat "css/bundle.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $bundledCss.RelPermalink }}">
